/* mobile
width = 390
height = 844 */


/* CHECK IN */
body{
    background-color: #C49D82;
    margin: 0;
    padding: 0;
}

.text h1 {
    color: #E7CEBC;
    text-align: center;
    padding-top: 50px;
}

.box {
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #AB866A;
    color: #E7CEBC;
    border-radius: 15px;
    margin-bottom: 30px;
    justify-content: center !important;
    align-content: center !important;
    margin: 0 auto;
    margin-top: 30px;
} 

.box p {
    display: flex;
    align-items: center;  
    text-align: center;
    
}


/* INDEX PAGE - SLIDESHOW */


.mySlides {
    display: none;
}

.numbertext img {
    display:flex;
    vertical-align: middle;
    width: 100%;
    
    
}

.slideshow-container {
    z-index: 0;
    position: relative;
    width: 100%;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* INDEX PAGE - WE ARE REACH */

.wearereach h1, .wearereach p{
    
    display: flex;
    justify-content: center;
    color: #E7CEBC;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* .wearereach h1 {
    padding-left: 20px;
    padding-right: 20px;
} */



.rect1, .rect2 {
    display:flex;
    height: 10px;
    width: 105px;
    background-color: #AB866A;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wearereach .box {
    display: flex;
    width: 100px;
    height: 35px;
    background-color: #AB866A;
    border-radius: 7px;
    margin-bottom: 20px;

    
}

/* INDEX PAGE - NUMBER STATS */

.numberstats {
    height: 50px;
    background-color: #E7CEBC;
}

/* INDEX PAGE - ORGANISATIONS */

.organisation h1{
    color: #E7CEBC;
    text-align: center;
    vertical-align: middle;
}
.giving img, .ntuc img {
    display: flex;
    width: 70%;
    justify-content: center;
    padding: 30px;
    border-radius: 50px;
    margin: 0 auto;
}

/* INDEX PAGE - MENTAL WELLNESS */

.professionals h1 {
    color: #E7CEBC;
}






/* INDEX PAGE - FOOTER */

footer {
    background-color: #AB866A;
}

.line h1 {
    color: #E7CEBC;
}

/* =========== MENU =========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



/* nav {
  position: fixed;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  background: #AB866A;
  align-items: center;

  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
} */

.navig {
  /* position: fixed; */
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  background: #AB866A;
  align-items: center;

  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #E7CEBC;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #E7CEBC;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #A0816C;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #C49D82;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #E7CEBC;
}
.nav-link .link {
  font-size: 16px;
  color: #E7CEBC;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #E7CEBC;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

/* ======================== COM NAVIGATION ======================== */

.navi {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

  /* ========================= REGISTER/LOGIN PAGE ========================= */


.register{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login img{
  display: flex;
  width: 250px;
  margin: auto;
}

.title {
  padding-top: 50px;
  text-align: center;
}

.title h1{
  color: #E7CEBC;
}
.profile img {
  width: 140px;
  padding: 15px;
  padding-top: 10px;
  padding-right: 10px;
}

.name {
  display: flex;
  flex-direction: column;
}
.name .first, .name .last{
  display: flex;
  background-color: #E7CEBC;
  height: 40px;
  margin: 15px 0;
  border-radius: 3px;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
  margin-left: 10px;
}

.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.info {
  display: flex;
  background-color: #E7CEBC;
  height: 40px;
  width: 312px;
  margin: 15px 0;
  border-radius: 3px;
}


/* ============================ MYSELF/FAM/CHILD/RS ============================ */

.myself {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myself h1 {
  color: #E7CEBC;
  padding-left: 20px;
  padding-right: 20px;
}

.phrase {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  flex-direction: column;
  align-items: center;
}

.phrase p {
  color: #E7CEBC;
  padding-top: 5px;

}

.qn {
  padding-top: 20px;
  color:#E7CEBC;
  width: 320px;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ans {
  display: flex;
  background-color: #AB866A;
  height: 35px;
  width: 70px;
  margin-top: 10px;
  width: 320px;
  border-radius: 5px;
}

.done {
  display: flex;
  margin: auto;
  margin-top: 30px;
  background-color: #AB866A;
  color: #E7CEBC;
  width: 120px;
  height: 45px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.trust {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 320px;
  text-align: center;
  color:#E7CEBC;
}

button {
  background: transparent;
  outline: 0;
  border: 0;
  
}

button h3 {
  color: #E7CEBC;
}


/* ==================================================== WEB VERSION ==================================================== */

@media screen and (min-width:992px) {
    img {
        display: flex;
        vertical-align: middle;
        height: 800px;
        widows: 100%;
        
    }
    
    .wrapper {
        width: 85vw;
    }

    .container {
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    
    }

    /* ========== REGISTER ========== */

    .profile img {
      width: 300px;
      height: 300px;
    }

    .name .first, .name .last{
      display: flex;
      background-color: #E7CEBC;
      height: 50px;
      width: 250px;
      margin: 15px 0;
      border-radius: 3px;
    }

    .info {
      display: flex;
      background-color: #E7CEBC;
      height: 50px;
      width: 550px;
      margin: 15px 0;
      border-radius: 3px;
    }

    .login img {
      width: 300px;
      height: 300px;
    }


















}
