/* mobile
width = 390
height = 844 */


/* CHECK IN */
body{
    background-color: #C49D82;
    margin: 0;
    padding: 0;
}

.text h1 {
    color: #E7CEBC;
    text-align: center;
}

.box {
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #AB866A;
    color: #E7CEBC;
    border-radius: 15px;
    margin-bottom: 30px;
    justify-content: center !important;
    align-content: center !important;
    margin: 0 auto;
    margin-top: 30px;
} 

.box p {
    display: flex;
    align-items: center;  
    text-align: center;
    
}


/* INDEX PAGE - SLIDESHOW */


.mySlides {
    display: none;
}

img {
    display:flex;
    vertical-align: middle;
    width: 100%
    
}

.slideshow-container {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* INDEX PAGE - WE ARE REACH */

.wearereach h1, .wearereach p{
    display: flex;
    justify-content: center;
    color: #E7CEBC;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* .wearereach h1 {
    padding-left: 20px;
    padding-right: 20px;
} */



.rect1, .rect2 {
    display:flex;
    height: 10px;
    width: 105px;
    background-color: #AB866A;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wearereach .box {
    display: flex;
    width: 100px;
    height: 35px;
    background-color: #AB866A;
    border-radius: 7px;

    
}

/* INDEX PAGE - NUMBER CIRCLES */

.numbercircles {
    background-color: #AB866A;
}




/* ========================== WEB VERSION ========================== */

@media screen and (min-width:992px) {
    img {
        display: flex;
        vertical-align: middle;
        height: 800px;
        widows: 100%;
        
    }
    

}
