/* mobile
width = 390
height = 844 */


/* CHECK IN */
body{
    background-color: #C49D82;
}

.text h1 {
    color: #E7CEBC;
    text-align: center;
}

.box {
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #AB866A;
    border-radius: 15px;
    margin-top: 15px;
    justify-content: center;
    text-align: center;
}

.box p {
    display: flex;
    align-items: center;  
}


/* INDEX PAGE - SLIDESHOW */


.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    height: 250px;
}

.slideshow-container {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* INDEX PAGE - WE ARE REACH */

.wearereach h1, .wearereach p{
    display: flex;
    justify-content: center;
    color: #E7CEBC;
    text-align: center;
}

.rect1, .rect2 {
    display:flex;
    height: px;
    height: 100px;
    width: 150px;
    background-color: #AB866A;

}




/* ========================== WEB VERSION ========================== */

@media screen and (min-width:992px) {
    img {
        vertical-align: middle;
        height: 700px;
    }
    

}
